<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="products">
  <table>
    <tr>
      <th>Product Count</th>
      <th>Category Count</th>
    </tr>
    <br>
    <tr>
      <td><%=@products%></td>
      <td><%=@category%></td>
    </tr>
  </table>
</div>