<section class="about-show">

  <header class="page-header">
    <h1>
      About US!
    </h1>
  </header>

  <div class="about">
    <p>  We are Jungle! We sell all SORTs! </>
  </div>

</section>